In [1]:
import pandas as pd

df = pd.read_csv("./data/corpora/reviews_raw/reviews.csv")

df

,deceptive,hotel,polarity,source,text
0,truthful,conrad,positive,TripAdvisor,We stayed for a one night getaway with family ...
1,truthful,hyatt,positive,TripAdvisor,Triple A rate with upgrade to view room was le...
2,truthful,hyatt,positive,TripAdvisor,This comes a little late as I'm finally catchi...
3,truthful,omni,positive,TripAdvisor,The Omni Chicago really delivers on all fronts...
4,truthful,hyatt,positive,TripAdvisor,I asked for a high floor away from the elevato...
...,...,...,...,...,...
1595,deceptive,intercontinental,negative,MTurk,Problems started when I booked the InterContin...
1596,deceptive,amalfi,negative,MTurk,The Amalfi Hotel has a beautiful website and i...
1597,deceptive,intercontinental,negative,MTurk,The Intercontinental Chicago Magnificent Mile ...
1598,deceptive,palmer,negative,MTurk,"The Palmer House Hilton, while it looks good i..."
1599,deceptive,amalfi,negative,MTurk,"As a former Chicagoan, I'm appalled at the Ama..."

In [2]:
trutful_df = df.loc[df["deceptive"] == "truthful"]
trutful_df = trutful_df["text"]
#iterate over a series
for index, value in trutful_df.items():
    path = "./data/corpora/trutful_reviews/truthful"+str(index)
    with open(path, "x") as reviewFile:
        reviewFile.write(value)
        reviewFile.close()

In [3]:
deceptive_df = df.loc[df["deceptive"] == "deceptive"]
deceptive_df = deceptive_df["text"]
#iterate over a series
for index, value in deceptive_df.items():
    path = "./data/corpora/deceptive_reviews/deceptive"+str(index)
    with open(path, "x") as reviewFile:
        reviewFile.write(value)
        reviewFile.close()