In [1]:
import pandas as pd

df = pd.read_csv("./data/corpora/reviews_raw/reviews.csv")

df

,deceptive,hotel,polarity,source,text
0,truthful,conrad,positive,TripAdvisor,We stayed for a one night getaway with family ...
1,truthful,hyatt,positive,TripAdvisor,Triple A rate with upgrade to view room was le...
2,truthful,hyatt,positive,TripAdvisor,This comes a little late as I'm finally catchi...
3,truthful,omni,positive,TripAdvisor,The Omni Chicago really delivers on all fronts...
4,truthful,hyatt,positive,TripAdvisor,I asked for a high floor away from the elevato...
...,...,...,...,...,...
1595,deceptive,intercontinental,negative,MTurk,Problems started when I booked the InterContin...
1596,deceptive,amalfi,negative,MTurk,The Amalfi Hotel has a beautiful website and i...
1597,deceptive,intercontinental,negative,MTurk,The Intercontinental Chicago Magnificent Mile ...
1598,deceptive,palmer,negative,MTurk,"The Palmer House Hilton, while it looks good i..."
1599,deceptive,amalfi,negative,MTurk,"As a former Chicagoan, I'm appalled at the Ama..."

In [2]:
trutful_df = df.loc[df["deceptive"] == "truthful"]
trutful_df = trutful_df["text"]
#iterate over a series
for index, value in trutful_df.items():
    path = "./data/corpora/trutful_reviews/truthful"+str(index)
    with open(path, "x") as reviewFile:
        reviewFile.write(value)
        reviewFile.close()

In [3]:
deceptive_df = df.loc[df["deceptive"] == "deceptive"]
deceptive_df = deceptive_df["text"]
#iterate over a series
for index, value in deceptive_df.items():
    path = "./data/corpora/deceptive_reviews/deceptive"+str(index)
    with open(path, "x") as reviewFile:
        reviewFile.write(value)
        reviewFile.close()

deceptive_df

In [5]:
import pandas as pd

ham = pd.read_csv("./data/results/ham.csv")
spam = pd.read_csv("./data/results/spam.csv")
nlkt = pd.read_csv("./data/results/nltkCorpus.csv")

df = ham.append(spam, ignore_index = True)
df = df.append(nlkt, ignore_index = True)
df

C:\Users\lbiondo\AppData\Local\Temp\ipykernel_47312\803187336.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = ham.append(spam, ignore_index = True)
C:\Users\lbiondo\AppData\Local\Temp\ipykernel_47312\803187336.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(nlkt, ignore_index = True)

,parsable,confidence_tokenizer,confidence_pos,confidence_ner,confidence_chunker,spelling_mistakes,avg_sentence_len,lexical_diversity,recognized_by_pos,acronyms,present_in_dictionary,readability_cli,readability_ari,test_avg_sentence_len,test_ari,test_cli
0,97.916649,97.026816,80.668134,98.458660,87.940408,94.797876,43.206345,94.817754,99.521396,98.422458,87.147236,75.989378,76.575996,7.596000,3.310774,2.979174
1,98.449264,97.256091,75.252477,96.940830,88.437216,95.880187,44.776238,95.155288,99.907229,94.413922,84.011245,58.668969,60.550495,8.934873,8.722758,9.321633
2,98.814070,99.032663,92.731658,97.240201,95.789447,97.943216,72.729648,63.233668,99.993970,99.407035,95.517588,33.727035,8.336784,12.661682,16.747739,12.981005